eureka: 
  client: 
    serviceUrl: 
      defaultZone: http://localhost:8088/eureka/
server: 
  port: 8099
spring: 
  application: 
    name: service-ribbon
  zipkin: 
    base-url: http://localhost:9411/